bin
include
lib
lib64
__pycache__
pyvenv.cfg
share
*.png
*.pt
*.pth
*.dot
*.zip
rewards
scratch
logs
*.log
Archive
./networks
datasets
datasets_hold
multirun
outputs
MR
.Rproj.user
.rstudio
.Rhistory
.config
*.dat
*.data
f_mode
*.lprof
**/profile.txt
**/workfile.txt
models
*.egg-info
nn_traces/
runs/
**/*.0
**/*.csv
**/*.tar.gz
**/*.R
rewards2/
src/
PDFs/
venv/
.idea/
home/
hydra/
source/
co3-configurations/test/
data/
etc/
plots/
**/*.pkl
SentientTrading.egg-info
co3/agents/ppo/PPO_preTrained/
node_modules/
**/*.onnx
